@page "/Consulta"
@inject AportesBLL AportesBLL;

<EditForm Model="Informacion">
    <DataAnnotationsValidator />
        <div class="card-body">
            <form>
                <div>

                    <button type="button" @onclick="Buscar">Buscar Aportes</button>

                </div>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>AporteId</th>
                    <th>Fecha</th>
                    <th>Persona</th>
                    <th>Observacion</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Informacion)
                {
                    <tr>
                        <td>@item.AporteId</td>
                        <td>@item.Fecha</td>
                        <td>@item.Persona</td>
                        <td>@item.Observacion</td>
                        <td>@item.Monto</td>




                        
                    </tr>
                }
            </tbody>
        </table>
    
</EditForm>

@code {

    public Aportes aporte { set; get; } = new Aportes();
    public string Filtro { get; set; }
    public string Criterio { get; set; }
    public List<Aportes> Informacion { get; set; } = new List<Aportes>();
    public void Buscar()
    {
        Informacion = AportesBLL.GetList(o => true);
    }

} 