@page "/Consulta"
@inject AportesBLL AportesBLL;

<EditForm Model="Informacion">
    <DataAnnotationsValidator />

    <div class="card">
        <div class="card-header">
            <h3>Consulta de Aporte</h3>
        </div>

        
                @*Fecha*@
             <div class="form-group">
                <label>Desde</label>
                <InputDate @bind-Value="aporte.Fecha" class="form-control" />
                <ValidationMessage For="@(() => aporte.Fecha)" />

                
             
            <label>Campo a Filtrar</label>  

            <InputSelect @bind-Value="aporte.Persona" class="form-control"  />
            <ValidationMessage For="@(() => aporte.Persona)" />  
             
            </div>

               
        <div class="card-body">
            <form>
                <div>

                    <button type="button" @onclick="Buscar">Buscar Aportes</button>

                </div>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>AporteId</th>
                    <th>Fecha</th>
                    <th>Persona</th>
                    <th>Observacion</th>
                    <th>Monto</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Informacion)
                {
                    <tr>
                        <td>@item.AporteId</td>
                        <td>@item.Fecha</td> 
                        <td>@item.Persona</td>
                        <td>@item.Observacion</td>
                        <td>@item.Monto</td>
                        @*SI ELIMINO FECHA Y OBSERVACION ME NO ME PERMITE ELIMINAR ):*@
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <tr>
                Conteo 
            </tr>
        </div>
    </div>    
    

    
</EditForm>

@code {

    public Aportes aporte { set; get; } = new Aportes();
    public string Filtro { get; set; }
    public string Criterio { get; set; }
    public List<Aportes> Informacion { get; set; } = new List<Aportes>();
    public void Buscar()
    {
        Informacion = AportesBLL.GetList(o => true);
    }
    
} 